<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wsdm.materiel.mapper.SupplierContractChangeDetailMapper">

    <resultMap type="SupplierContractChangeDetail" id="SupplierContractChangeDetailResult">
        <result property="id" column="id"/>
        <result property="changeNumber" column="change_number"/>
        <result property="materialNumber" column="material_number"/>
        <result property="materialName" column="material_name"/>
        <result property="modelParam" column="model_param"/>
        <result property="unit" column="unit"/>
        <result property="originalPrice" column="original_price"/>
        <result property="changePrice" column="change_price"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectSupplierContractChangeDetailVo">
        select id,
               change_number,
               material_number,
               material_name,
               model_param,
               original_price,
               change_price,
               create_by,
               create_time,
               update_by,
               update_time
        from purchase_supplier_contract_change_detail
    </sql>

    <select id="selectSupplierContractChangeDetailList" parameterType="String" resultMap="SupplierContractChangeDetailResult">
        <include refid="selectSupplierContractChangeDetailVo"/>
        <where>
            <if test="changeNumber != null and changeNumber != ''">
                and change_number = #{changeNumber}
            </if>
        </where>
    </select>

    <select id="selectSupplierContractChangeDetailById" parameterType="Long" resultMap="SupplierContractChangeDetailResult">
        <include refid="selectSupplierContractChangeDetailVo"/>
        where id = #{id}
    </select>

    <insert id="insertSupplierContractChangeDetail" parameterType="SupplierContractChangeDetail" useGeneratedKeys="true"
            keyProperty="id">
        insert into purchase_supplier_contract_change_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="changeNumber != null">change_number,
            </if>
            <if test="materialNumber != null">material_number,
            </if>
            <if test="materialName != null">material_name,
            </if>
            <if test="modelParam != null">model_param,
            </if>
            <if test="originalPrice != null">original_price,
            </if>
            <if test="changePrice != null">change_price,
            </if>
            <if test="createBy != null">create_by,
            </if>
            <if test="createTime != null">create_time,
            </if>
            <if test="updateBy != null">update_by,
            </if>
            <if test="updateTime != null">update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="changeNumber != null">#{changeNumber},
            </if>
            <if test="materialNumber != null">#{materialNumber},
            </if>
            <if test="materialName != null">#{materialName},
            </if>
            <if test="modelParam != null">#{modelParam},
            </if>
            <if test="originalPrice != null">#{originalPrice},
            </if>
            <if test="changePrice != null">#{changePrice},
            </if>
            <if test="createBy != null">#{createBy},
            </if>
            <if test="createTime != null">#{createTime},
            </if>
            <if test="updateBy != null">#{updateBy},
            </if>
            <if test="updateTime != null">#{updateTime},
            </if>
        </trim>
    </insert>

    <insert id="insertSupplierContractChangeDetailBatch" parameterType="SupplierContractChangeDetail" useGeneratedKeys="true"
            keyProperty="id">
        insert into purchase_supplier_contract_change_detail(
            change_number,
            material_number,
            material_name,
            model_param,
            original_price,
            change_price,
            create_by,
            create_time)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.changeNumber},
            #{item.materialNumber},
            #{item.materialName},
            #{item.modelParam},
            #{item.originalPrice},
            #{item.changePrice},
            #{item.createBy},
            #{item.createTime}
            )
        </foreach>
    </insert>

    <delete id="deleteSupplierContractChangeDetailById" parameterType="Long">
        delete from purchase_supplier_contract_change_detail
        where id = #{id}
    </delete>

    <delete id="deleteSupplierContractChangeDetailByIds" parameterType="String">
        delete from purchase_supplier_contract_change_detail where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteSupplierContractChangeDetailByChangeNumber" parameterType="String">
        delete from purchase_supplier_contract_change_detail
        where change_number = #{changeNumber}
    </delete>

</mapper>