<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wsdm.pd.mapper.PdContributionTestMapper">

    <resultMap type="PdContributionTest" id="PdContributionTestResult">
                    <result property="id" column="id"/>
                    <result property="code" column="code"/>
                    <result property="testCode" column="test_code"/>
                    <result property="employeeName" column="employee_name"/>
                    <result property="deptCode" column="dept_code"/>
                    <result property="deptName" column="dept_name"/>
                    <result property="materialType" column="material_type"/>
                    <result property="materialTypeName" column="material_type_name"/>
                    <result property="tester" column="tester"/>
                    <result property="testTime" column="test_time"/>
                    <result property="remark" column="remark"/>
                    <result property="status" column="status"/>
                    <result property="auditor" column="auditor"/>
                    <result property="auditTime" column="audit_time"/>
                    <result property="createBy" column="create_by"/>
                    <result property="createTime" column="create_time"/>
                    <result property="updateBy" column="update_by"/>
                    <result property="updateTime" column="update_time"/>
                    <result property="testDate" column="test_date"/>
            </resultMap>

    <sql id="selectPdContributionTestVo">
        select id, code, test_code, employee_name, dept_code, dept_name, material_type, material_type_name, tester, test_time, remark, status, auditor, audit_time, create_by, create_time, update_by, update_time,test_date        from pd_contribution_test
    </sql>

    <select id="selectPdContributionTestList" parameterType="PdContributionTest" resultMap="PdContributionTestResult">
        <include refid="selectPdContributionTestVo"/>
        <where>
                                                                                                    <if test="code != null  and code != ''">
                            and code like concat('%',#{code},'%')
                        </if>
                                                                                                            <if test="testCode != null  and testCode != ''">
                            and test_code like concat('%',#{testCode},'%')
                        </if>
                                                                                                            <if test="employeeName != null  and employeeName != ''">
                            and employee_name like concat('%', #{employeeName}, '%')
                        </if>
                                                                                                            <if test="deptCode != null  and deptCode != ''">
                            and dept_code = #{deptCode}
                        </if>
                                                                                                            <if test="deptName != null  and deptName != ''">
                            and dept_name like concat('%', #{deptName}, '%')
                        </if>
                                                                                                            <if test="materialType != null  and materialType != ''">
                            and material_type = #{materialType}
                        </if>
                                                                                                            <if test="materialTypeName != null  and materialTypeName != ''">
                            and material_type_name like concat('%', #{materialTypeName}, '%')
                        </if>
                                                                                                            <if test="tester != null  and tester != ''">
                            and tester = #{tester}
                        </if>
                                                                                                            <if test="testTime != null ">
                            and test_time = #{testTime}
                        </if>
                                                                                                                                        <if test="status != null  and status != ''">
                            and status = #{status}
                        </if>
                                                                                                            <if test="auditor != null  and auditor != ''">
                            and auditor = #{auditor}
                        </if>
                                                                                                            <if test="auditTime != null ">
                            and audit_time = #{auditTime}
                        </if>
            <if test="beginTime!=null and beginTime!=''"><![CDATA[AND test_date>=#{beginTime}]]></if>
            <if test="endTime!=null and endTime!=''"><![CDATA[AND test_date<=#{endTime}]]></if>
        </where>
        <![CDATA[order by test_code desc]]>
    </select>

    <select id="selectPdContributionTestById" parameterType="Long" resultMap="PdContributionTestResult">
        <include refid="selectPdContributionTestVo"/>
        where id = #{id}
    </select>

    <insert id="insertPdContributionTest" parameterType="PdContributionTest" useGeneratedKeys="true"
            keyProperty="id">
        insert into pd_contribution_test
        <trim prefix="(" suffix=")" suffixOverrides=",">
                                                                            <if test="code != null">code,
                    </if>
                                                                <if test="testCode != null">test_code,
                    </if>
                                                                <if test="employeeName != null">employee_name,
                    </if>
                                                                <if test="deptCode != null">dept_code,
                    </if>
                                                                <if test="deptName != null">dept_name,
                    </if>
                                                                <if test="materialType != null">material_type,
                    </if>
                                                                <if test="materialTypeName != null">material_type_name,
                    </if>
                                                                <if test="tester != null">tester,
                    </if>
                                                                <if test="testTime != null">test_time,
                    </if>
                                                                <if test="remark != null">remark,
                    </if>
                                                                <if test="status != null">status,
                    </if>
                                                                <if test="auditor != null">auditor,
                    </if>
                                                                <if test="auditTime != null">audit_time,
                    </if>
                                                                <if test="createBy != null">create_by,
                    </if>
                                                                <if test="createTime != null">create_time,
                    </if>
                                                                <if test="updateBy != null">update_by,
                    </if>
                                                                <if test="updateTime != null">update_time,
                    </if>
          <if test="testDate != null">test_date,
          </if>
                                    </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                                                                            <if test="code != null">#{code},
                    </if>
                                                                <if test="testCode != null">#{testCode},
                    </if>
                                                                <if test="employeeName != null">#{employeeName},
                    </if>
                                                                <if test="deptCode != null">#{deptCode},
                    </if>
                                                                <if test="deptName != null">#{deptName},
                    </if>
                                                                <if test="materialType != null">#{materialType},
                    </if>
                                                                <if test="materialTypeName != null">#{materialTypeName},
                    </if>
                                                                <if test="tester != null">#{tester},
                    </if>
                                                                <if test="testTime != null">#{testTime},
                    </if>
                                                                <if test="remark != null">#{remark},
                    </if>
                                                                <if test="status != null">#{status},
                    </if>
                                                                <if test="auditor != null">#{auditor},
                    </if>
                                                                <if test="auditTime != null">#{auditTime},
                    </if>
                                                                <if test="createBy != null">#{createBy},
                    </if>
                                                                <if test="createTime != null">#{createTime},
                    </if>
                                                                <if test="updateBy != null">#{updateBy},
                    </if>
                                                                <if test="updateTime != null">#{updateTime},
                    </if>
          <if test="testDate != null">#{testDate},
          </if>
                                    </trim>
    </insert>

    <update id="updatePdContributionTest" parameterType="PdContributionTest">
        update pd_contribution_test
        <trim prefix="SET" suffixOverrides=",">
                                                                            <if test="code != null">code =
                        #{code},
                    </if>
                                                                <if test="testCode != null">test_code =
                        #{testCode},
                    </if>
                                                                <if test="employeeName != null">employee_name =
                        #{employeeName},
                    </if>
                                                                <if test="deptCode != null">dept_code =
                        #{deptCode},
                    </if>
                                                                <if test="deptName != null">dept_name =
                        #{deptName},
                    </if>
                                                                <if test="materialType != null">material_type =
                        #{materialType},
                    </if>
                                                                <if test="materialTypeName != null">material_type_name =
                        #{materialTypeName},
                    </if>
                                                                <if test="tester != null">tester =
                        #{tester},
                    </if>
                                                                <if test="testTime != null">test_time =
                        #{testTime},
                    </if>
                                                                <if test="remark != null">remark =
                        #{remark},
                    </if>
                                                                <if test="status != null">status =
                        #{status},
                    </if>
                                                                <if test="auditor != null">auditor =
                        #{auditor},
                    </if>
                                                                <if test="auditTime != null">audit_time =
                        #{auditTime},
                    </if>
                                                                <if test="createBy != null">create_by =
                        #{createBy},
                    </if>
                                                                <if test="createTime != null">create_time =
                        #{createTime},
                    </if>
                                                                <if test="updateBy != null">update_by =
                        #{updateBy},
                    </if>
                                                                <if test="updateTime != null">update_time =
                        #{updateTime},
                    </if>
          <if test="testDate != null">test_date =
            #{testDate},
          </if>
                                    </trim>
        where id = #{id}
    </update>

    <delete id="deletePdContributionTestById" parameterType="Long">
        delete
        from pd_contribution_test where id
                          =
                          #{id}
    </delete>

    <delete id="deletePdContributionTestByIds" parameterType="String">
        delete from pd_contribution_test where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getLatestCode" resultType="String">
        <![CDATA[SELECT test_code FROM pd_contribution_test ORDER BY id DESC LIMIT 1]]>
    </select>
</mapper>