<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wsdm.pd.mapper.PdContributionDetailMapper">

    <resultMap type="PdContributionDetail" id="PdContributionDetailResult">
                    <result property="id" column="id"/>
                    <result property="contributionId" column="contribution_id"/>
                    <result property="materialCode" column="material_code"/>
                    <result property="materialName" column="material_name"/>
                    <result property="quantity" column="quantity"/>
                    <result property="costTime" column="cost_time"/>
                    <result property="costTimeTotal" column="cost_time_total"/>
                    <result property="quantityTest" column="quantity_test"/>
                    <result property="quantityPass" column="quantity_pass"/>
                    <result property="quantityFault" column="quantity_fault"/>
                    <result property="quantityRework" column="quantity_rework"/>
                    <result property="status" column="status"/>
                    <result property="createBy" column="create_by"/>
                    <result property="createTime" column="create_time"/>
                    <result property="updateBy" column="update_by"/>
                    <result property="updateTime" column="update_time"/>
                    <result property="remark" column="remark"/>
                    <result property="priceType" column="price_type"/>
                    <result property="processName" column="process_name"/>
            </resultMap>

    <sql id="selectPdContributionDetailVo">
        select id, contribution_id, material_code, material_name, process_name, quantity, cost_time, cost_time_total, quantity_test, quantity_pass, quantity_fault, quantity_rework, status, create_by, create_time, update_by, update_time,remark,price_type        from pd_contribution_detail
    </sql>

    <select id="selectPdContributionDetailList" parameterType="PdContributionDetail" resultMap="PdContributionDetailResult">
        <include refid="selectPdContributionDetailVo"/>
        <where>
                                                                                                    <if test="contributionId != null ">
                            and contribution_id = #{contributionId}
                        </if>
                                                                                                            <if test="materialCode != null  and materialCode != ''">
                            and material_code = #{materialCode}
                        </if>
                                                                                                            <if test="materialName != null  and materialName != ''">
                            and material_name like concat('%', #{materialName}, '%')
                        </if>
                                                                                                            <if test="quantity != null ">
                            and quantity = #{quantity}
                        </if>
                                                                                                            <if test="costTime != null ">
                            and cost_time = #{costTime}
                        </if>
                                                                                                            <if test="quantityTest != null ">
                            and quantity_test = #{quantityTest}
                        </if>
                                                                                                            <if test="quantityPass != null ">
                            and quantity_pass = #{quantityPass}
                        </if>
                                                                                                            <if test="quantityFault != null ">
                            and quantity_fault = #{quantityFault}
                        </if>
                                                                                                            <if test="quantityRework != null ">
                            and quantity_rework = #{quantityRework}
                        </if>
                                                                                                            <if test="status != null  and status != ''">
                            and status = #{status}
                        </if>
                                                                                                                                                                        </where>
    </select>

    <select id="selectPdContributionDetailById" parameterType="Long" resultMap="PdContributionDetailResult">
        <include refid="selectPdContributionDetailVo"/>
        where id = #{id}
    </select>

    <insert id="insertPdContributionDetail" parameterType="PdContributionDetail" useGeneratedKeys="true"
            keyProperty="id">
        insert into pd_contribution_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
                                                                            <if test="contributionId != null">contribution_id,
                    </if>
                                                                <if test="materialCode != null">material_code,
                    </if>
                                                                <if test="materialName != null">material_name,
                    </if>
                                                                <if test="quantity != null">quantity,
                    </if>
                                                                <if test="costTime != null">cost_time,
                    </if>
            <if test="costTimeTotal != null">cost_time_total,
            </if>
                                                                <if test="quantityTest != null">quantity_test,
                    </if>
                                                                <if test="quantityPass != null">quantity_pass,
                    </if>
                                                                <if test="quantityFault != null">quantity_fault,
                    </if>
                                                                <if test="quantityRework != null">quantity_rework,
                    </if>
                                                                <if test="status != null">status,
                    </if>
                                                                <if test="createBy != null">create_by,
                    </if>
                                                                <if test="createTime != null">create_time,
                    </if>
                                                                <if test="updateBy != null">update_by,
                    </if>
                                                                <if test="updateTime != null">update_time,
                    </if>
          <if test="remark != null">remark,
          </if>
          <if test="priceType != null">price_type,
          </if>
          <if test="processName != null">process_name,
          </if>
                                    </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                                                                            <if test="contributionId != null">#{contributionId},
                    </if>
                                                                <if test="materialCode != null">#{materialCode},
                    </if>
                                                                <if test="materialName != null">#{materialName},
                    </if>
                                                                <if test="quantity != null">#{quantity},
                    </if>
                                                                <if test="costTime != null">#{costTime},
                    </if>
            <if test="costTimeTotal != null">#{costTimeTotal},
            </if>
                                                                <if test="quantityTest != null">#{quantityTest},
                    </if>
                                                                <if test="quantityPass != null">#{quantityPass},
                    </if>
                                                                <if test="quantityFault != null">#{quantityFault},
                    </if>
                                                                <if test="quantityRework != null">#{quantityRework},
                    </if>
                                                                <if test="status != null">#{status},
                    </if>
                                                                <if test="createBy != null">#{createBy},
                    </if>
                                                                <if test="createTime != null">#{createTime},
                    </if>
                                                                <if test="updateBy != null">#{updateBy},
                    </if>
                                                                <if test="updateTime != null">#{updateTime},
                    </if>
          <if test="remark != null">#{remark},
          </if>
          <if test="priceType != null">#{priceType},
          </if>
          <if test="processName != null">#{processName},
          </if>
                                    </trim>
    </insert>

    <update id="updatePdContributionDetail" parameterType="PdContributionDetail">
        update pd_contribution_detail
        <trim prefix="SET" suffixOverrides=",">
                                                                            <if test="contributionId != null">contribution_id =
                        #{contributionId},
                    </if>
                                                                <if test="materialCode != null">material_code =
                        #{materialCode},
                    </if>
                                                                <if test="materialName != null">material_name =
                        #{materialName},
                    </if>
                                                                <if test="quantity != null">quantity =
                        #{quantity},
                    </if>
                                                                <if test="costTime != null">cost_time =
                        #{costTime},
                    </if>
            <if test="costTimeTotal != null">cost_time_total =
                #{costTimeTotal},
            </if>
                                                                <if test="quantityTest != null">quantity_test =
                        #{quantityTest},
                    </if>
                                                                <if test="quantityPass != null">quantity_pass =
                        #{quantityPass},
                    </if>
                                                                <if test="quantityFault != null">quantity_fault =
                        #{quantityFault},
                    </if>
                                                                <if test="quantityRework != null">quantity_rework =
                        #{quantityRework},
                    </if>
                                                                <if test="status != null">status =
                        #{status},
                    </if>
                                                                <if test="createBy != null">create_by =
                        #{createBy},
                    </if>
                                                                <if test="createTime != null">create_time =
                        #{createTime},
                    </if>
                                                                <if test="updateBy != null">update_by =
                        #{updateBy},
                    </if>
                                                                <if test="updateTime != null">update_time =
                        #{updateTime},
                    </if>
          <if test="remark != null">remark =
            #{remark},
          </if>
          <if test="priceType != null">price_type =
            #{priceType},
          </if>
          <if test="processName != null">process_name =
            #{processName},
          </if>
                                    </trim>
        where id = #{id}
    </update>

    <delete id="deletePdContributionDetailById" parameterType="Long">
        delete
        from pd_contribution_detail where id
                          =
                          #{id}
    </delete>

    <delete id="deletePdContributionDetailByIds" parameterType="String">
        delete from pd_contribution_detail where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>